<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.dao.UserDao">

    <!-- 定义的resultMap，可以解决类的属性名和数据库列名不一致的问题-->
    <resultMap type="User" id="user">
        <id property="id" column="id"  />
        <result property="createAt" column="create_at"  />
        <result property="updateAt" column="update_at"  />
        <result property="updateBy" column="update_by"  />
    </resultMap>

    <!--插入-->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="img != null" >
                img,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="qq != null" >
                qq,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="tell != null" >
                tell,
            </if>
            <if test="createAt != null" >
                create_at,
            </if>
            <if test="updateAt != null" >
                update_at,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="img != null" >
                #{img},
            </if>
            <if test="password != null" >
                #{password},
            </if>
            <if test="email != null" >
                #{email},
            </if>
            <if test="qq != null" >
                #{qq},
            </if>
            <if test="phone != null" >
                #{phone},
            </if>
            <if test="tell != null" >
                #{tell},
            </if>
            <if test="createAt != null" >
                #{createAt},
            </if>
            <if test="updateAt != null" >
                #{updateAt},
            </if>
            <if test="updateBy != null" >
                #{updateBy},
            </if>
        </trim>
    </insert>

    <!--删除-->
    <delete id="deleteUser" parameterType="long">
        delete
        from user
        where id = #{id}
    </delete>

    <!--修改-->
    <update id="updateStudent" parameterType="user">
          update user
          set name = #{name},img = #{img},intro = #{intro},email = #{email},qq = #{qq},
          phone = #{phone},tell = #{tell},create_at = #{createAt},update_at =  #{updateAt},update_by = #{updateBy}}
           where id = #{id}
    </update>

    <!--根据id查询数据-->
    <select id="getUser" resultMap="user">
        select * from user
        where id = #{id}
    </select>

    <!--分页查询-->
    <select id="findUser" resultMap="user">
        select * from  user
        <if test="start!=null and count!=null">
            limit #{start},#{count}
        </if>
    </select>

    <!--查询数据条数-->
    <select id="total" resultType="int">
	        select count(*) from   student
	    </select>

    <select id="byNamePassword" resultMap="user">
        select * from user where name = #{name} and password = #{password}
    </select>

    <select id="findUserByName" resultMap="user">
        select * from user where name = #{name}
    </select>
    <select id="listUser" resultMap="user">
        select * from user
    </select>
</mapper>