<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyh.mapper.WorkMapper" >
  <resultMap id="BaseResultMap" type="com.lyh.model.Work" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="first_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="second_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="introduction" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="thumbnail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_at" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="update_at" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="update_by" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="first_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="second_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, status, first_id, second_id, introduction, thumbnail, url, content, picture, 
    create_at, update_at, update_by, first_name, second_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from work
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from work
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lyh.model.Work" >
    insert into work (id, name, status, 
      first_id, second_id, introduction, 
      thumbnail, url, content, 
      picture, create_at, update_at, 
      update_by, first_name, second_name
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{firstId,jdbcType=BIGINT}, #{secondId,jdbcType=BIGINT}, #{introduction,jdbcType=VARCHAR}, 
      #{thumbnail,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, 
      #{updateBy,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{secondName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lyh.model.Work" >
    insert into work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="firstId != null" >
        first_id,
      </if>
      <if test="secondId != null" >
        second_id,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="firstName != null" >
        first_name,
      </if>
      <if test="secondName != null" >
        second_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="firstId != null" >
        #{firstId,jdbcType=BIGINT},
      </if>
      <if test="secondId != null" >
        #{secondId,jdbcType=BIGINT},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="secondName != null" >
        #{secondName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyh.model.Work" >
    update work
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="firstId != null" >
        first_id = #{firstId,jdbcType=BIGINT},
      </if>
      <if test="secondId != null" >
        second_id = #{secondId,jdbcType=BIGINT},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="secondName != null" >
        second_name = #{secondName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyh.model.Work" >
    update work
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      first_id = #{firstId,jdbcType=BIGINT},
      second_id = #{secondId,jdbcType=BIGINT},
      introduction = #{introduction,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      second_name = #{secondName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findWork" resultMap="BaseResultMap">
    select * from work
    <where>
      <if test="name != null" >
      name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
      and status = #{status,jdbcType=SMALLINT}
      </if>
    </where>
  </select>
</mapper>